<footer class="page-footer font-small blue pt-5 bg-light text-dark pl-5 pr-5" style="margin-top: 5%;">
    <div class="container-fluid text-center text-md-left">
       <div class="row">
 
          <div class="col-md-6 mt-md-0 mt-6">
             <h5 class="text-uppercase">RADNO VREME</h5>
             <ul class="list-unstyled">
                <li>Radni dani: 09h - 21h</li>
                <li>Subota: 09h - 18h</li>
                <li>Nedelja: 09h - 14h</li>
             </ul>
          </div>
 
 
          <div class="col-md-6 mt-md-0 mt-6">
             <h5 class="text-uppercase">CALL CENTAR</h5>
             <ul class="list-unstyled">
                <li>064 561 98 27</li>
                <li>064 013 37 35</li>
             </ul>
          </div>
       </div>
    </div>
 
    <div class="footer-copyright text-center py-3">© 2021 Copyright: Ajla Gudžević && Amina Dolićanin</div>
 
 </footer>