<div class="row">

<div class="col-sm-12 col-md-4 col-12">
    <h3>Moj profil i porudžbine</h3>
    <form novalidate>
        <div class="form-group">
            <label class=" bg-white">Email: </label>
            <input type="text" class="form-control" formControlName="email" readonly>
        </div>
       
        <div class="form-group">
            <label class=" bg-white">Ime: </label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div  class="alert alert-danger">
                 <div>
                     Ime je neophodno.
                 </div>
                </div>
        <div class="form-group">
            <label class=" bg-white">Prezime: </label>
            <input type="text" class="form-control" formControlName="surname">
        </div>
        <div class="alert alert-danger">
                 <div>
                     Prezime je neophodno.
                 </div>
                </div>
        <div class="form-group">
            <label class=" bg-white">Adresa: </label>
            <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="alert alert-danger">
                 <div>
                     Adresa je neophodna.
                 </div>
                </div>
        <div class="form-group">
            <label class=" bg-white">Telefon: </label>
            <input type="text" class="form-control" formControlName="phoneNum">
        </div>
        <div  class="alert alert-danger">
                 <div>
                     Telefon je neophodan.
                 </div>
                </div>
        <button type="submit" class="btn btn-info">
            <span  class="spinner-border spinner-border-sm mr-1"></span>
            Sačuvaj izmene
        </button>
    </form>
    <hr>
    <button class="btn btn-primary" >
        Odjavi me
    </button>
</div>



<div class="col-sm-12 col-md-8 col-12">
    <div>
        <h3 style="text-align: center;"> Još uvek nema porudžbina</h3>
     </div>
    <div class="d-inline-bloc">
        <div >
        <h5 style="text-align: center; margin-bottom: 2%;">Broj porudžbine:</h5>
        <table class="table"  style="margin-bottom: 5%;">
            <tr>
                <th scope="col">Artikal</th>
                <th scope="col">Cena</th>
                <th scope="col">Količina</th>
                <th scope="col">Ukupno</th>
              </tr>
        <tr>
            <th scope="row">Šišanje</th>
            <td>500 RSD </td>
            <td>5</td>
            <td>25000 RSD</td>
        </tr>
        </table>
        <button class="btn btn-warning">Detalji</button>
       <h6 style="float: right; margin-right: 11.5%;">Datum:</h6>
        </div>
    </div>
        <hr>
        <button  class="btn btn-info" style="float: left;">Prikaži manje</button>
        <button  class="btn btn-info" style="float: right;">Prikaži više</button>
    </div>

</div>
